Repository rfgamaral/eslint-config-typescript-unified: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency lint-staged to v10.2.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v3.9.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.10
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-config-airbnb-base to v14.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.11
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-jsx-a11y to v6.3.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-prettier to v3.1.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-import to v2.21.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-config-airbnb to v18.2.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Due: prettier --write

fix(peers): update dependency eslint to ^6.8
  package.json
Due: prettier --write

feat(peers): support ESLint v7
  package.json
Due: prettier --write

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eaaab522c569c2e5659dc81c2d1c748999e3fc94
Due: none

chore(deps): update dependency eslint-plugin-jest to v23.16.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-jsx-a11y to v6.3.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v23.17.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency semantic-release to v17.1.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-import to v2.22.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-react to v7.20.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v3.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.3.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency jest to v26.1.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-react-hooks to v4.0.5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update typescript-eslint monorepo to v3.5.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency eslint-plugin-react to v7.20.3
  package.json
  yarn.lock
Due: prettier --write

chore(jest): review configuration patterns
  jest.config.js
Due: eslint --fix

feat(react): extend from `plugin:import/typescript`
  airbnb-react-hooks-semantics.js
  airbnb-react-semantics.js
  airbnb-react.js
  airbnb-semantics.js
  airbnb.js
  tests/airbnb-react-hooks-semantics.test.js
  tests/airbnb-react-hooks.test.js
  tests/airbnb-react-semantics.test.js
  tests/airbnb-react.test.js
  tests/airbnb-semantics.test.js
  tests/airbnb.test.js
Due: eslint --fix

feat(recommended): new set of opinionated rules
  README.md
  recommended-react-hooks-semantics.js
  recommended-react-hooks.js
  recommended-react-semantics.js
  recommended-react.js
  recommended-semantics.js
  recommended.js
  tests/recommended-react-hooks-semantics.test.js
  tests/recommended-react-hooks.test.js
  tests/recommended-react-semantics.test.js
  tests/recommended-react.test.js
  tests/recommended-semantics.test.js
  tests/recommended.test.js
Due: eslint --fix

docs(readme): review usage configurations
  README.md
Due: none

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2f248358ff6689fc46913ad81b83ac262ed2c4eb
Due: none

docs(readme): fix configuration mistake in FAQ
  README.md
Due: none

feat(recommended): include configurations in the tarball
  package.json
Due: prettier --write

chore(release): 3.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f0f51bcadc7b935a0bdc04e2abcdf4d19ecae4fb
Due: none

chore(deps): update dependency eslint to v7.4.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./**/*.js
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./.*rc)
